# build output
dist/

# dependencies
node_modules/

# logs
*.log
logs/

# environment variables
.env
.env.production
.env.*

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Vercel
.vercel/

# OpenCode
.opencode/
.vscode/

# Astro
.astro/

# pnpm
.pnpm-store/
.impeccable/
